In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
data = pd.read_csv('./data/JobHuntData.csv')

In [3]:
data.head()

,Company,Date Applied,Date of Response,Role name,Role type,Industry
0,Yard Stick PBC,4/20/24,NaN,Data Scientist,Remote,Ag-tech
1,PexaPark,4/20/24,NaN,ML Intern,In-person,Energy
2,EnergyHub,4/20/24,NaN,Data Engineering Intern,In-person,Energy
3,University of Washington,4/18/24,NaN,Business Intelligence Analyst,In-person,Education
4,University of Washington,4/18/24,NaN,Data Analyst,In-person,Research

In [4]:
data.isnull().sum()

Company             0
Date Applied        0
Date of Response    7
Role name           0
Role type           0
Industry            0
dtype: int64